/***** BASE STYLES *****/

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Lora', serif;
}

#about, #work, #contact {
  height: 600px;
}

/***** GRID *****/

.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width:600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

/***** about section *****/

#about .full-width {
  padding: 80px 0;
}
#about h2 {
  font-family: 'Lora', serif;
  font-size: 36px;
}

#about p {
  font-size: 21px;
  color: #7f7f7f;
  line-height: 40px;
  padding-right: 50px;
}

/***** work section *****/
#work {
  text-align: center;
  background: #f9ceb7;
}
#work .full-width {
  padding: 115px 0;
}
#work img {
  padding-bottom: 30px;
}

#work h3 {
  font-size: 24px;
  width: 200px;
  margin: 0 auto;
}

#work p {
  font-family: 'Lora', serif;
  font-size: 18px;
  line-height: 30px;
  color: #262a2b;
  padding: 0 35px;
}

/***** contact section *****/

#contact .full-width {
  padding: 110px 0;
}

#contact h2, #email-header, #socialmedia-header, #contact ul {
  padding-left: 115px;
}

#envelope {
  padding: 0 10px 0 115px;
}

#contact-img {
  border: 12px solid #ffffff;
}

#contact li {
  padding: 10px;
  float: left;
}
